<section class="feedbacks-section">
    <h2 class="feedbacks-h">Що говорять наші клієнти</h2>
<div class="feedbacks-container">

<div class="feedbacks-card">
    <div class="feedbacks-stars">
        <svg class="feedbacks-svg" width="20" height="20">
        <use href="#star"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
        <use href="#star"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
        <use href="#star"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
        <use href="#star"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
        <use href="#star"></use>
        </svg>
    </div>
        <p class="feedback">Сумка дуже зручна та стильна, використовую щодня!</p>
            <span class="feedbacks-author">Анна</span>
    </div>

    <div class="feedbacks-card">
        <div class="feedbacks-stars">
            <svg class="feedbacks-svg" width="20" height="20">
            <use href="#star"></use>
            </svg>
            <svg class="feedbacks-svg" width="20" height="20">
            <use href="#star"></use>
            </svg>
            <svg class="feedbacks-svg" width="20" height="20">
            <use href="#star"></use>
            </svg>
            <svg class="feedbacks-svg" width="20" height="20">
            <use href="#star"></use>
            </svg>
            <svg class="feedbacks-svg" width="20" height="20">
            <use href="#star"></use>
            </svg>
        </div>
            <p class="feedback">Відмінна якість матеріалів, приємно здивована.</p>
            <span class="feedbacks-author">Ігор</span>
    </div>

    <div class="feedbacks-card">
        <div class="feedbacks-stars">
        <svg class="feedbacks-svg" width="20" height="20">
        <use href="#star"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
        <use href="#star"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
        <use href="#star"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
        <use href="#star"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
        <use href="#star"></use>
        </svg>
        </div>
            <p class="feedback">Сумка повністю відповідає опису, рекомендую!</p>
            <span class="feedbacks-author">Олена</span>
    </div>

    <div class="feedbacks-card">
        <div class="feedbacks-stars">
            <svg class="feedbacks-svg" width="20" height="20">
            <use href="#star"></use>
            </svg>
            <svg class="feedbacks-svg" width="20" height="20">
            <use href="#star"></use>
            </svg>
            <svg class="feedbacks-svg" width="20" height="20">
            <use href="#star"></use>
            </svg>
            <svg class="feedbacks-svg" width="20" height="20">
            <use href="#star"></use>
            </svg>
            <svg class="empty" width="20" height="20">
            <use href="#star"></use>
            </svg>
        </div>
            <p class="feedback">Швидка доставка та гарне обслуговування.</p>
            <span class="feedbacks-author">Сергій</span>
    </div>

</div>
</section>